<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Provider Information</title>
 
    <!-- Include Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-center mb-4">Edit Provider Information</h2>
                <hr class="divider">
                <form action="/providors/add" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{city.name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" value="{{city.age}}" required>
                    </div>
                    <div class="form-group">
                        <label for="city_name">City Name</label>
                        <input type="text" class="form-control" id="city_name" name="city_name" value="{{city.city.city_name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="city_code">City Code</label>
                        <input type="number" class="form-control" id="city_code" name="city_code" value="{{city.city.city_code}}" required>
                    </div>
                    <div class="form-group">
                        <label for="city_location">City Location</label>
                        <input type="text" class="form-control" id="city_location" name="city_location" value="{{city.city.city_location}}" required>
                    </div>
                    <div class="form-group">
                        <label for="city_population">City Population</label>
                        <input type="number" class="form-control" id="city_population" name="city_population" value="{{city.city.city_population}}" required>
                    </div>
                    <hr class="divider">
                    <button type="submit" class="btn btn-primary">Update Changes</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS scripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
